<section class="ADMIN_DASH" style=" width:100vw;height:90vh;background-color:white">
    <div class="main ">
        <div class="row container" style="width:100%">
            <div class="col-md-2 left_side" style="background-color:#7e97c6;height: 100vh;">
                <div class="logo" style="display: flex;justify-content: space-between;">
                    <div class="Logo mb-5   " style="width: 11rem;height:3rem">
                        <img src="../../assets/img/Innovate.jpg" alt="Logo"
                            style="border:2px solid white;border-radius: 20rem; width: 45%;height:100%">


                    </div>
                    <div>
                        <h3 style="font-size: 1.1rem;font-weight: 800;">
                            Admin Name
                        </h3>
                    </div>


                </div>
                <div class="" style="border:5px solid white;border-radius: 10px;"></div>



                <div class="SIDEBAR">

                    <aside>

                        <div class="menus">

                            <a routerLink="/addemp" (click)="menu_display1()"><i class="fa-solid fa-person-circle-plus "
                                    style="color:#FFB100;"></i> &nbsp;&nbsp;Add Employee</a>


                            <a routerLink="/empdetails" (click)="menu_display2()"><i
                                    class="fa-sharp fa-solid fa-circle-info" style="color:#FFB100;"></i>
                                &nbsp;&nbsp;Employee Details</a>

                            <a routerLink="/leavedetails" (click)="menu_display3()"> <i
                                    class="fa-solid fa-person-walking-arrow-right" style="color:#FFB100;"></i>
                                &nbsp;&nbsp;Leave Request</a>

                            <a routerLink="/contractupdate" (click)="menu_display4()"><i
                                    class="fa-solid fa-file-contract" style="color:#FFB100;"></i>&nbsp;&nbsp;Contract
                                Update</a>
                            <a routerLink="/task" (click)="menu_display5()"><i class="fa-solid fa-list-check"
                                    style="color:#FFB100;"></i>&nbsp;&nbsp;Office Task</a>
                            <a routerLink="/chat" (click)="menu_display6()" style="pointer-events: none;"><i class="fa-regular fa-message"
                                    style="color:#FFB100; "></i>&nbsp;&nbsp;Chat Option</a>
                            <!-- <a routerLink="/attendance" (click)="menu_display6()">Attendance Sheet</a> -->
                        </div>



                    </aside>
                </div>

            </div>
            <div class="col-md-10 rightBg" style="background-color: rgba(247, 246, 250, 0.925); ;">
                <div class="TOPBAR">
                    <div>
                        <span class="header" style="color:#FFB100;font-size:1.1rem;font-weight: 800;">INNOVATETEX TECH
                        </span> &nbsp; &nbsp;<span style="color:black;font-weight: 400;"><i>look for the explorer not
                                the
                                reserved one..</i></span>
                    </div>

                    <div class="logoutadmin">
                        <i class="bi bi-box-arrow-right"
                            style="font-size: 1.8rem;color:black;cursor: pointer;font-weight: 900;"
                            (click)="logout_admin()"></i>
                    </div>

                </div>

                <app-parties-info *ngIf="show_add_emp"></app-parties-info>
                <app-employe-details *ngIf="show_emp_details"></app-employe-details>
                <app-leave-form-page *ngIf="show_emp_leave"> </app-leave-form-page>
                <app-contract-details *ngIf="show_contract_update"></app-contract-details>
                <app-task *ngIf="show_task"></app-task>
                <app-chat-options *ngIf="show_attendace"></app-chat-options>
                <!-- <app-attendancesheet *ngIf="show_attendace"></app-attendancesheet> -->
            </div>

        </div>











    </div>
</section>